html,body{
    margin: 0;
    padding: 0;
}
body{
    padding: 15px;
    background-color: #f0f2f4;
}
.layui-card{
    background-color: #fff;
}
#form-add{
    padding-top: 30px;
    padding-right: 60px;
}